/ConsoleApplication1/ipch
/ConsoleApplication1/ConsoleApplication1.sln
/ConsoleApplication1/ConsoleApplication1.VC.db
/ConsoleApplication1/ConsoleApplication1.VC.db.BASE.db
/ConsoleApplication1/ConsoleApplication1.VC.db.LOCAL.db
/ConsoleApplication1/ConsoleApplication1.VC.db.REMOTE.db
/ConsoleApplication1/Debug/ConsoleApplication1.ilk
/ConsoleApplication1/Debug/ConsoleApplication1.pdb
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1/ConsoleApplication1/ReadMe.txt
/ConsoleApplication1/ConsoleApplication1/stdafx.cpp
/ConsoleApplication1/ConsoleApplication1/stdafx.h
/ConsoleApplication1/ConsoleApplication1/targetver.h
/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
